<template>
  <main class="page page-chat">
    <section class="page-body">
      <template v-if="!chatLoadingIssue">
        <div
          id="cometchat_embed_synergy_container"
          class="chat-container"
        ></div>
      </template>
      <template v-else>
        <div class="empty-state-container">
          <p>Unable to embed a group chat.</p>
        </div>
      </template>
    </section>
  </main>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import isEmpty from 'lodash/isEmpty'

const ProfileBasePath = '/profile'

export default {
  data() {
    return {
      chatEmbedded: false,

      chatOptions: {
        chat_height: '600px',
        chat_width: '990px',
        chat_iframe: {} // intentionally left blank
      },

      chatLoadingIssue: false,

      publicUrlPath: `${process.env.EnvURL}${ProfileBasePath}/`,

      userId: null
    }
  },

  watch: {
    // isAccountLoaded: 'handleAccountLoading',
    cometChatApiLoaded: 'handleChatApiLoading'
  },

  created() {
    if (!isEmpty(this.$route.params.userId)) {
      this.userId = this.$route.params.userId
    }

    // if (this.isAccountLoaded) {
    this.loadCometChatApi(this.userData)
      .then(() => {
        this.embedOneToOneChat()
      })
      .catch(() => {
        this.chatLoadingIssue = true
      })
    // }
  },

  mounted() {
    // wait while chat iframe is embedded
    // to trigger private chat with specified user
    this.checkChatEmbeddedStatus()
  },

  computed: {
    ...mapGetters({
      cometChatApiLoaded: 'misc/cometChatApiLoaded'
      // 'accountPersonal',
      // 'accountProfileHighlights',
      // 'isAccountLoaded',
    }),

    chatIframeOptions() {
      return {
        module: 'synergy',
        width: '100%',
        height: '100%'
      }
    },

    userFullName() {
      return `${this.accountPersonal.firstName || ''} ${this.accountPersonal
        .lastName || ''}`.trim()
    },
    userProfilePublicUrl() {
      return !isEmpty(this.accountProfileHighlights) &&
        !isEmpty(this.accountProfileHighlights.publicProfileURL)
        ? `${this.publicUrlPath}${this.accountProfileHighlights.publicProfileURL}`
        : undefined
    },

    userData() {
      return {
        chat_name: this.userFullName,
        chat_id: String(this.accountPersonal.id),
        chat_avatar: this.accountPersonal.profileImageURL,
        chat_link: this.userProfilePublicUrl,
        chat_uid: this.userId
      }
    }
  },

  methods: {
    ...mapActions({
      loadCometChatApi: 'misc/loadCometChatApi',
      embedCometOneToOneChat: 'misc/embedCometOneToOneChat',
      launchCometOneToOneChat: 'misc/launchCometOneToOneChat'
    }),

    embedOneToOneChat() {
      if (!this.chatEmbedded) {
        this.embedCometOneToOneChat({
          userId: this.userId,
          chatOptions: this.chatOptions,
          chatIframeOptions: this.chatIframeOptions
        })

        this.chatEmbedded = true
      }
    },

    handleAccountLoading(status) {
      if (status) {
        this.loadCometChatApi(this.userData).catch(() => {
          this.chatLoadingIssue = true
        })
      }
    },

    handleChatApiLoading() {
      if (this.isAccountLoaded) {
        this.embedOneToOneChat()
      }
    },

    checkChatEmbeddedStatus() {
      const chatInterval = setInterval(() => {
        if (typeof CometChathasBeenRun !== 'undefined') {
          if (!isEmpty(this.userId))
            this.launchCometOneToOneChat({ userId: this.userId })

          clearInterval(chatInterval)
        }
      }, 1000)
    }
  }
}
</script>
