<template src="./group.html"></template>
<script src="./group.js"></script>
<style lang="scss">
.container.container--fluid {
  height: 100%;
}

.page.page-chat {
  height: 100%;

  .chat-container {
    height: 100%;
  }
}
</style>
