<main class="page page-chat">
  <h2>{{userFullName}}</h2>

  <template v-if="!groupChatLoadingIssue">
    <div id="cometchat_embed_synergy_container" class="chat-container"></div>
  </template>
  <template v-else>
    <div class="empty-state-container">
      <p>Unable to embed a group chat.</p>
    </div>
  </template>
</main>
